# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Desktop\School\Fiu\Courses\Semesters 2020\Fall 2020\COP4813 Web Application\Assigments\Project4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
